---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header';
import Footer from '../components/Footer';
import HeroBanner from '../components/HeroBanner.astro';
import Activities from '../components/Activities.astro';
import Projects from '../components/Projects.astro';
---

<BaseLayout title="Todd Warren - About Me">
  <Header client:load />
  
  <main>
    <HeroBanner />
    <Activities />
    <hr class="border-gray-200" />
    <Projects />
  </main>

  <Footer client:load />
</BaseLayout>

